# Firebase Web App Configuration
# Get these values from Firebase Console -> Project Settings -> General -> Your apps -> Web app
VITE_FIREBASE_API_KEY= "AIzaSyCMOSmXahWK9b8gn5nYcPPw4ZSErnegIZM"
VITE_FIREBASE_AUTH_DOMAIN= "ai-student-intelligence-ed261.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID= "ai-student-intelligence-ed261"
VITE_FIREBASE_STORAGE_BUCKET= "ai-student-intelligence-ed261.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID= "152802312703"
VITE_FIREBASE_APP_ID= "1:152802312703:web:913361dea511200379a7ca"
